.contain-table table{
    border-radius: 15px;
    background-color: #D9D9D9;
    margin-top: 10px;
    margin-bottom:10px;
    /*align-items: flex-start;*/
    margin-right: auto;
    text-align:center;
    /*width:100%;*/
    /*display:inline-table;*/
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    border-style: 2px solid rgba(255, 255, 255, 0.878);
    justify-content: center;
    
}

/*div.contain-table{
    display:flex;
}*/

.contain-table{
    align-items: flex-start;
    max-width: 100%;
    padding:5px;
    overflow-y: auto;
}

.container,.small-container,.medium-container{
    margin-left: auto;
    margin-right: auto;
    padding:15px;
    width:100%;
    
    
}
.button,
.round-button{
    background-color:#D3632E;
    border-style: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}
.round-button:hover,
.button:hover{
    background-color:#bd4208;
    color:white;
    border-style: none;
    
}

button:focus{
    background-color:#14b40c;
    color:white;
    border-style: none;
}

#root{
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

div{
    display:block;
}

@media(max-width:1000px){
    .container{
        width:100%;
        padding:10px;
        margin-right: 0;
    }
    .contain-table{
        width:100%;
        overflow-x: hidden;
    }
    .table{
        width:100%;

    }
    .tbody{
        width:70%;
    }
    
    td,
    th{
        font-size: 15px;
    }

    .button{
        width: 70px;
        font-size: 12px;
        margin: 0 0 0.25rem 0.5rem;
        text-align: left;
    }

    .button muted-button{
        
        margin-left: 5px;
    }

    .text-right,
    .text-center{
        text-align: left; 
    }
}

@media(max-width:900px){
    .container{
        width:95%;
        padding:7px;
        margin-right: 0;
        
    }
    .contain-table{
        width:75%;
        overflow-x: hidden;
        
    }
    .table{
        width:100%;
        margin-right: 0;
        
    }
   
    th{
        display:none;
    }
    td{
        margin-right: 5px;
        display: block;
        justify-content: center;
        overflow-y: auto;
    }
     td.text-right,
    td.text-center,
    td.text-left{
        display:inline-block;
        font-size: 15px;
    }

    td::before{
        content:attr(th);
    }
}

@media(max-width:500px){
    td.text-right,
    td.text-center,
    td.text-left{
        display:inline-block;
        font-size: x-small;
    }
}




